@charset "UTF-8";
@import url(../fonts/stylesheet.css);
/* line 1, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_header.scss */
.b-header {
  height: 135px;
  position: relative;
}

@media (max-width: 767px) {
  /* line 1, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_header.scss */
  .b-header {
    height: 220px;
  }
}

/* line 3, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_logoSlogan.scss */
.b-logoSlogan_siteHeader {
  position: absolute;
  top: 20px;
  left: 29px;
}

@media (max-width: 767px) {
  /* line 3, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_logoSlogan.scss */
  .b-logoSlogan_siteHeader {
    top: 60px;
    left: 0;
  }
}

/* line 14, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_logoSlogan.scss */
.b-logoSlogan__logo {
  color: #333;
  font-size: 46px;
  font-variant: small-caps;
  /*Модифицирует все строчные символы как заглавные уменьшенного размера*/
}

/* line 20, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_logoSlogan.scss */
.b-logoSlogan__slogan {
  color: #999;
  font-size: 12px;
}

/* line 1, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_socials.scss */
.b-socials {
  width: 251px;
  height: 49px;
  text-align: center;
  background-color: #81b300;
  letter-spacing: 13px;
  padding-top: 7px;
}

/* line 9, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_socials.scss */
.b-socials_siteHeader {
  position: absolute;
  right: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 767px) {
  /* line 1, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_socials.scss */
  .b-socials {
    left: 0;
  }
}

/* line 20, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_socials.scss */
.b-socials__icon {
  width: 32px;
  height: 32px;
  line-height: 31px;
  font-size: 16px;
  padding-left: 9px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #1f1f1f;
  color: #fff;
  transition-duration: .5s;
  display: inline-block;
}

/* line 33, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_socials.scss */
.b-socials__icon:hover {
  background-color: #00acee;
  color: #fff;
  box-shadow: 0 10px 20px #333;
  transform: scale(1.15);
}

/* line 1, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/signMenu.scss */
.b-signMenu {
  position: absolute;
  right: 15px;
  top: 85px;
  font-size: 12px;
}

/* line 7, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/signMenu.scss */
.b-signMenu__item {
  color: #81b300;
  transition-duration: .5s;
}

/* line 11, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/signMenu.scss */
.b-signMenu__item:hover {
  text-decoration: none;
  color: #81b300;
  box-shadow: 0 10px 20px #333;
  transform: scale(2);
}

@media (max-width: 767px) {
  /* line 1, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/signMenu.scss */
  .b-signMenu {
    left: 0;
    top: 170px;
  }
}

/* line 1, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_navBar.scss */
.b-navBar {
  background-color: #81b300;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 991px) {
  /* line 1, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_navBar.scss */
  .b-navBar {
    padding: 20px 10px;
    flex-direction: column;
  }
}

/* line 12, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_navBar.scss */
.b-navBar_noMargin {
  margin: 0 -15px;
}

/* line 16, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_navBar.scss */
.b-navBar__link {
  color: #fff;
  display: inline-block;
  font-size: 13px;
  transition-duration: .5s;
}

/* line 22, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_navBar.scss */
.b-navBar__link_margins {
  margin-right: 20px;
}

/* line 26, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_navBar.scss */
.b-navBar__link:hover {
  text-decoration: none;
  color: #1f1f1f;
  box-shadow: 0 10px 20px #333;
  transform: scale(1.15);
}

/* line 3, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_formSearch.scss */
.b-search__field_left {
  float: left;
  color: #888;
  width: 215px;
}

/* line 9, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_formSearch.scss */
.b-search__button {
  color: #81b300;
  font-weight: bold;
  cursor: pointer;
  transition-duration: .5s;
}

/* line 15, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_formSearch.scss */
.b-search__button:hover {
  background: #00acee;
  color: #fff;
  box-shadow: 0 10px 20px #333;
  transform: scale(1.15);
}

/* line 1, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_carousel.scss */
.carousel {
  padding: 31px 31px 0;
  background: #f2f2f2;
  margin: 0 -15px;
}

/* line 7, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_carousel.scss */
.carousel-inner {
  border: 9px solid #fff;
}

/* line 11, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_carousel.scss */
.carousel-indicators {
  position: static;
  margin: 0;
}

/* line 16, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_carousel.scss */
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333;
  border: 1px solid #333;
  margin-right: 9px;
}

/* line 25, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_carousel.scss */
.carousel-control-next,
.carousel-control-prev {
  position: static;
  height: 20px;
  width: 20px;
  display: block;
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
}

/* line 36, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_carousel.scss */
.carousel-control-prev-icon {
  background: url(../images/left.png) center no-repeat;
}

/* line 40, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_carousel.scss */
.carousel-control-prev {
  margin-right: 6px;
}

/* line 44, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_carousel.scss */
.carousel-control-next-icon {
  background: url(../images/right.png) center no-repeat;
}

/* line 48, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_carousel.scss */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 71px;
}

/* line 1, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_chapterAgue.scss */
.b-augue {
  padding: 0 18px;
  justify-content: space-between;
}

/* line 5, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_chapterAgue.scss */
.b-augue_marginTop {
  margin-top: 50px;
}

/* line 10, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_chapterAgue.scss */
.b-chapterAugue {
  text-align: center;
}

/* line 13, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_chapterAgue.scss */
.b-chapterAugue__head {
  color: #81b300;
  font-size: 18px;
  line-height: 21.6px;
  margin-bottom: 20px;
}

/* line 20, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_chapterAgue.scss */
.b-chapterAugue__text {
  color: #888;
  font-size: 13px;
  line-height: 20.8px;
}

/* line 27, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_chapterAgue.scss */
.fa-users {
  font-size: 64px;
  color: #c45f4b;
  margin-bottom: 20px;
}

/* line 33, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_chapterAgue.scss */
.fa-globe-americas {
  font-size: 64px;
  color: #cf9d41;
  margin-bottom: 20px;
}

/* line 39, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_chapterAgue.scss */
.fa-cogs {
  font-size: 64px;
  color: #3d5f12;
  margin-bottom: 20px;
}

/* line 45, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_chapterAgue.scss */
.fa-leaf {
  font-size: 64px;
  color: #7da3b7;
  margin-bottom: 20px;
}

/* line 51, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_chapterAgue.scss */
.heartbeat:hover {
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

/* line 1, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_hr.scss */
.b-hr_margin {
  margin: 50px 0;
  height: 2px;
  background-color: #e2e2e2;
}

/* line 1, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_project.scss */
.b-project {
  padding: 15px 15px 30px;
  justify-content: space-evenly;
}

/* line 5, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_project.scss */
.b-project__image {
  width: 100%;
}

/* line 8, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_project.scss */
.b-project__image_border {
  border: 5px solid #fff;
  outline: 1px solid #999;
}

/* line 14, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_project.scss */
.b-project__head {
  font-size: 14px;
}

/* line 17, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_project.scss */
.b-project__head_top {
  margin: 20px 0 14px;
}

/* line 22, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_project.scss */
.b-project__text {
  color: #888;
  font-size: 13px;
  line-height: 20.8px;
}

/* line 29, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_project.scss */
.b-details {
  display: block;
  text-align: right;
  color: #81b300;
  margin-bottom: 20px;
  transition-duration: .5s;
}

/* line 36, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_project.scss */
.b-details:hover {
  text-decoration: none;
  color: #81b300;
  transform: scale(1.4) translate(-35px);
  text-shadow: 0 9px 8px #81b300;
}

/* line 1, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_footer.scss */
.b-footer {
  background-color: #333;
  color: #999;
  padding: 41px 30px;
  justify-content: space-between;
}

/* line 7, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_footer.scss */
.b-footer__sectionHead {
  color: #666;
  font-size: 13px;
  padding-bottom: 20px;
}

/* line 13, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_footer.scss */
.b-footer__text {
  width: 201px;
  font-size: 12px;
  line-height: 20.8px;
}

/* line 19, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_footer.scss */
.b-footer__ul {
  list-style-type: none;
}

/* line 22, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_footer.scss */
.b-footer__ul_left {
  padding-left: 0;
}

/* line 27, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_footer.scss */
.b-footer__links {
  color: #999;
  display: block;
  border-bottom: 1px solid #666;
  padding: 5px 0;
  transition-duration: .5s;
}

/* line 34, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_footer.scss */
.b-footer__links:hover {
  text-decoration: none;
  color: #00acee;
  box-shadow: 0 5px 25px #81b300;
  transform: scale(1.1);
}

/* line 42, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_footer.scss */
.b-footer__blogTitle {
  font-size: 13px;
  font-weight: bold;
}

/* line 50, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_footer.scss */
.b-subscriptionForm__input {
  width: 100%;
  height: 31px;
  background-color: #1f1f1f;
  border: 1px solid #1f1f1f;
  border-radius: 7px;
  margin-bottom: 8px;
  padding-left: 7px;
}

/* line 59, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_footer.scss */
.b-subscriptionForm__input_button {
  width: 80px;
  color: #81b300;
  cursor: pointer;
  transition-duration: .5s;
}

/* line 65, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_footer.scss */
.b-subscriptionForm__input_button:hover {
  color: #00acee;
  box-shadow: 0 10px 20px #81b300;
  transform: scale(1.2);
}

/* line 74, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_footer.scss */
.b-copy {
  background-color: #2e2e2e;
  margin: 0 -15px -1rem -15px;
  padding: 25px 30px 10px;
  display: flex;
  justify-content: space-between;
}

/* line 81, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/blocks/_footer.scss */
.b-copy__text {
  color: #666;
  font-size: 12px;
}

/* line 16, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/style.scss */
.container {
  background-color: #fff;
  height: 100%;
  margin: 30px auto;
  border-top: 5px solid #81b300;
}

/* line 23, C:/Users/user/Desktop/HTML-2018/concomitant-8/scss/style.scss */
body {
  font-family: "Georgia Regular", sans-serif;
  background-color: #1f1f1f;
}

/*# sourceMappingURL=../css/style.map */