.b-logoSlogan {

  &_siteHeader {
    position: absolute;
    top: 20px;
    left: 29px;

    @media (max-width: 767px) {
      top: 60px;
      left: 0;
    }
  }

  &__logo {
    color: $darkColor;
    font-size: 46px;
    font-variant: small-caps; /*Модифицирует все строчные символы как заглавные уменьшенного размера*/
  }

  &__slogan {
    color: $lightColor;
    font-size: 12px;
  }
}

