.b-signMenu {
  font-size: 12px;

  &_position {
    position: absolute;
    right: 15px;
    top: 85px;
  }
  
  &__item {
    color: #81b300;
    transition-duration: .5s;

    &:hover {
      text-decoration: none;
      color: #81b300;
      box-shadow: 0 10px 20px $darkColor;
      transform: scale(2);
    }
  }

  @media (max-width: 767px) {
    left: 0;
    top: 170px;
  }
}
