$myFonts: "Georgia Regular", sans-serif;
$superLightColor: #fff;
$lightColor: #999;
$mediumColor: #888;
$mediumColor-2: #666;
$darkColor: #333;
$darkColor-2: #2e2e2e;
$superDarkColor: #1f1f1f;
$hoverColor: #00acee;
$majorColor: #81b300;