@import "../fonts/stylesheet.css";
@import "variables";
@import "blocks/header";
@import "blocks/logoSlogan";
@import "blocks/socials";
@import "blocks/signMenu.scss";
@import "blocks/navBar";
@import "blocks/formSearch";
@import "blocks/carousel";
@import "blocks/chapterAgue";
@import "blocks/hr";
@import "blocks/project";
@import "blocks/footer";


.container {
  background-color: $superLightColor;
  height: 100%;
  margin: 30px auto;
  border-top: 5px solid $majorColor;
}

body {
  font-family: $myFonts;
  background-color: $superDarkColor;
}
/*некоторые стили не по БЭМ (напр. стили соц-иконок) для удобства выносятся в общий файл со стилями*/
.fa-users {
  font-size: 64px;
  color: #c45f4b;
  margin-bottom: 20px;
}

.fa-globe-americas {
  font-size: 64px;
  color: #cf9d41;
  margin-bottom: 20px;
}

.fa-cogs {
  font-size: 64px;
  color: #3d5f12;
  margin-bottom: 20px;
}

.fa-leaf {
  font-size: 64px;
  color: #7da3b7;
  margin-bottom: 20px;
}
