.carousel {
  padding: 31px 31px 0;
  background: #f2f2f2;
  margin: 0 -15px;
}

.carousel-inner {
  border: 9px solid $superLightColor;
}

.carousel-indicators {
  position: static;
  margin: 0;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $darkColor;
  border: 1px solid $darkColor;
  margin-right: 9px;
}

.carousel-control-next,
.carousel-control-prev {
  position: static;
  height: 20px;
  width: 20px;
  display: block;
  background-color: $darkColor;
  border-radius: 50%;
  opacity: 1;
}

.carousel-control-prev-icon {
  background: url(../images/left.png) center no-repeat;
}

.carousel-control-prev {
  margin-right: 6px;
}

.carousel-control-next-icon {
  background: url(../images/right.png) center no-repeat;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 71px;
}
