html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: rgb(236, 223, 206);
}

main {
  padding-top: 50px;
}

.container  {
  max-width: 1366px;
}

header,
footer {
  background: black;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  max-width: 1366px;
  height: 75px;
}

#goTop {
  visibility: hidden;
}

.nav-link {
  display: inline-block;
  padding: .3rem .5rem;
}

.nav-pills .nav-link.active {
  background-color: #332f2f;
}

#menu li a {
  color: rgb(236, 223, 206);
}

.myPhoto > img {
  border-radius: 5%;
  margin-top: 10px;
}

.myPhoto, .sectionHeader {
  margin-bottom: 25px;
}

#resume,
#portfolio,
#about,
footer {
  padding: 85px 5%;
  text-align: center;
}

#about {
  background: url(../resumeImg/keyboard.jpg) no-repeat;
  padding-top: 9%;
  opacity: .85;
}

#resume {
  background: #2c3e50;
}

#portfolio {
  background: rgb(215, 218, 219);
  color: rgb(48, 44, 44);
}

.portfolioDescription,
.resumeDescription {
  text-transform: initial;
}

.resumeDescription p,
.contactsDescription div {
  text-align: start;
  margin-left: 40px;
}

.contactsDescription a {
  text-transform: lowercase;
  font-style: italic;
  color: rgb(187, 211, 219);
  border-bottom: 1px dotted rgb(187, 211, 219);
}

.contactsDescription a:hover {
  text-decoration: none;
  border-bottom: none;
}

hr {
margin: 1.5em 0;
border-top: 1px solid #718fad;
}

.myProjects {
  width: 100%;
  max-width: 800px;
}

.myProjects:not(:first-child) {
  margin-top: 50px;
}

.myProjects a:hover {
  text-decoration: none;
}

figcaption {
  color: #2c3e50;
}

.mySkills {
  margin-top: 35px;
}

.skills p {
  text-align: center;
  margin: 25px 0 5px;
}

.figure-caption {
  color: inherit;
  padding-bottom: 20px;
}

.logos {
  padding-left: 0;
  padding-right: 0;
}

/* laptop */
.container222{
  height: 193px;
}

.screen {
  width: 170px;
  height: 110px;
  border-radius: 20px;
  background-color: #8C43FF;
  border: 5px solid white;
  padding: 5px;
  margin: 0 auto;
}

.base {
  width: 203px;
  height: 30px;
  border-radius: 10px 10px 50px 50px;
  background-color: #a3d3c3;
  border: 5px solid #51150b;
  transform-style: preserve-3d;
  margin: 2px auto;
}

.base:after {
  content: "";
  width: 70px;
  height: 10px;
  position: absolute;
  z-index: 2;
  left: calc(50% - 38px);
  border-radius: 0 0 15px 15px;
  background-color: #FFF;
  border: 5px solid #51150b;
  border-top: 0px;
}

.face {
  display: grid;
  grid-template-areas:
      "leftEye mouth rightEye"
      "leftCheek mouth rightCheek";
  background-color: #ffdd95;
  padding: 20px 28px;
  border-radius: 12px;
}

.eyes {
  width: 16px;
  height: 17px;
  margin: 0 auto;
  transform-style: preserve-3d;
  background-color: #49161b;
  border-radius: 50%;
}

.eyes:after {
	content: "";
  width: 6px;
  height: 6px;
	position: absolute;
	top: 4px;
	right: 4px;
	z-index: 4;
	background-color: #FFF;
	border-radius: 50%;
}

.eyes-left {
  left: 0;
  grid-area: leftEye;
}

.eyes-right {
  right: 0;
  grid-area: rightEye;
}

@keyframes animationMouth {
	0%{
		border-radius: 0%;
	}
	20%{
		border-radius: 50%;
	}
	80%{
		border-radius: 50%;		
	}
	100%{
		border-radius: 0%;
	}
}

.mouth {
  width: 45px;
  height: 50px;
  border-radius: 50%;
  border-top: 5px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 5px solid #51150b;
  animation: animationMouth 5s linear infinite;
  grid-area: mouth;
}

@keyframes animationCheek {
	0%{
		opacity: 0;
	}
	30%{
		opacity: 0;
	}
	40%{
		opacity: 1;
	}
	90%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

.cheek {
  width: 25px;
  height: 13px;
  background-color: #f7adba;
  border-radius: 50%;
  animation: animationCheek 5s linear infinite;
}

.cheek-left {
  left: 0;
  grid-area: leftCheek;
}

.cheek-right {
  right: 0;
  grid-area: rightCheek;
}